# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
.dropbox

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
www/user/list.txt
/data/user/
www/fs/pub
www/fs/home/devel/test
www/fs/home/lesson_samples/hk2016
www/fs/home/tuat17jikken
/data/log/
www/log/
www/scoreSheet
www/log/new
*.swp
www/js/lib/ace-noconflict-old
www/js/ctrans/a.out
www/js/ctrans/runtimeerrors.txt
test/debug.log
www/php/tmp/log.txt
www/php/tmp/log.txt
www/php/tmp/log.txt
www/js/lint.txt
www/fs/Tonyu/Projects/JSLKer/js/concat_old.js
www/js/dolittle/lib.js.bak
www/runtime/lib/tjs/kernel_old.js
www/runtime/lib/tjs/kernel_old.js.map
www/db/*
www/mei_*
private
/data/db/*
/data/fs/Tonyu/Projects/JSLKer/js/concat_old.js
/data/fs/pub
/data/fs/home/Nodepad
/data/fs/home/pro1
/data/fs/home/regist_test
/data/fs/home/devel/test
/data/fs/home/lesson_samples/hk2016
/data/fs/home/tuat*
www/php/test/phpinfo.php
/www/perl
www/php/horiPra.php
/Demo/
www/oauth.php
fszone.txt
